* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  max-width: 100%;
}

p {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Source Serif Pro', serif;
  font-size: 22px;
}

.nav_bar {
  display: flex;
  z-index: 100;
  position: sticky;
  flex-wrap: nowrap;
  top: 0;
  flex-direction: row;
  max-height: 60px;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: solid 1px black;
  border-top: solid 1px black;
  background-color: white;
}

.register {
  justify-self: flex-end;
}

.logo {
  max-height: 32px;
}

.btns {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #567b95;
  border-radius: 3px;
  height: 32px;
  border: solid rgb(198, 183, 252) 1px;
  color: white;
  font-size: 12px;
  padding: 3px;
  width: 119px;
}

.login {
  width: 63px;
}

main {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.art-img {
  max-width: 50%;
  position: static;
}

.h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 20px;
  font-size: 50px;
}

.icon {
  height: 15px;
  width: 20px;
  padding: 10px;
}

.lable {
  position: relative;
  max-width: 50%;
  font-weight: lighter;
  font-size: small;
}

span {
  color: cornflowerblue;
  position: relative;
}

.article-one {
  display: flex;
  padding-left: 25%;
  justify-content: center;
  max-width: 50%;
  flex-direction: column;
}

.icon-brands {
  align-self: flex-end;
}

.brands {
  height: 16px;
  width: 16px;
  padding: 10px;
  margin: 0 5px 0 5px;
  background-color: rgb(243, 240, 240);
  justify-self: flex-end;
  border-radius: 18px;
}

.big-icon {
  height: 25px;
  width: 30px;
  background-color: white;
  border-radius: unset;
  position: relative;
  top: 5px;
  padding-left: 0;
  padding-right: 0;
}

.comment-no {
  position: absolute;
  right: 337px;
  bottom: -220px;
  font-size: 12px;
}

.auther {
  position: relative;
  display: flex;
  padding: 12px;
  flex-direction: row;
  align-content: center;
  font-weight: bolder;
}

.author-link {
  text-decoration: none;
  position: relative;
  top: 20px;
  left: 3px;
  color: black;
  font-size: 22px;
}

.year-published {
  font-size: 15px;
}

.space {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  position: relative;
  bottom: 13px;
  font-size: 13px;
}

.ads {
  max-width: 100%;
  max-height: 200px;
  background-color: lightgray;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 1px;
}

.ad {
  font-size: 12px;
  color: rgb(240, 232, 232);
}

.art-link {
  color: rgb(59, 59, 150);
}

#video1 {
  position: relative;
  left: 25.5%;
}

#editors {
  padding: 5px;
  border-bottom: double 2px black;
  align-self: center;
}

.aside {
  position: absolute;
  top: 3000px;
  right: 75px;
  width: 200px;
  height: 400px;
  align-content: center;
}

.aside-img {
  width: 90px;
  position: relative;
}

.aside-ad {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-auto-flow: row;
  padding: 3px;
}

#aside-panels {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr 1fr;
  padding: 5px;
}

.aside-p {
  font-size: 12px;
  justify-self: center;
  text-decoration: none;
  color: black;
  padding: 4px;
}

.multi-img {
  width: 250px;
}

#p-multi {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  max-width: 80%;
  font-size: 17px;
  color: rgb(42, 102, 151);
}

#para-multi {
  width: 85%;
  position: relative;
  left: 90px;
}

#h-multi {
  position: relative;
  left: 100px;
}

#img-multi {
  max-width: 950px;
  position: absolute;
  align-self: center;
}

#multi-p {
  display: grid;
  width: 85%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  align-content: center;
  height: 500px;
  row-gap: 70px;
  position: relative;
  left: 7.5%;
  top: 150px;
}

.span-multi {
  font-size: 15px;
  color: black;
  font-weight: bold;
  padding: 3px;
}

.p-multi {
  font-size: 15px;
}

.footer-logo {
  position: relative;
  align-content: center;
  z-index: 100;
  width: 300px;
}

.footer-container {
  display: flex;
  justify-content: center;
  position: relative;
  column-gap: 30px;
}

.footer-container div {
  margin-left: 50px;
  margin-right: 50px;
}

.footer-list a {
  text-decoration: none;
  color: black;
  margin: 15px;
}

li {
  list-style: none;
}

h3 {
  padding: 10px;
}

#footer-logo {
  border-top: black double 3px;
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
}

.footer {
  padding: 20px 30px 20px 65px;
  margin-top: 10px;
  background-color: cornsilk;
}

.footer a {
  text-decoration: none;
  margin: 10px;
  color: black;
  font-size: 12px;
}

#grided {
  display: grid;
  grid-template-columns: 3fr 1fr;
  position: relative;
  max-width: 94%;
  top: 200px;
  left: 40px;
  column-gap: 30px;
  margin-bottom: 200px;
}

#sugg {
  display: grid;
  padding: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 5px;
  border-bottom: black solid 2px;
  position: relative;
}

#more {
  display: grid;
  padding-top: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
}

.more-pic {
  width: 320px;
}

.more {
  position: relative;
  padding: 25px 2px 25px 2px;
}

#more-link {
  text-decoration: underline;
  color: black;
  font-size: 25px;
  margin: 5px;
  padding-bottom: 50px;
}

.sugg {
  border: black solid 1px;
  margin: 5px;
  position: relative;
}

.sugg-link {
  position: absolute;
  color: black;
  bottom: 5px;
  right: 10px;
}

.timing {
  font-size: 15px;
  color: rgb(117, 108, 108);
}

.source {
  position: absolute;
  font-size: 15px;
  right: 0;
  top: 218px;
}

.date {
  position: absolute;
  bottom: 0;
  font-size: 15px;
}

.desc-more {
  font-size: 20px;
  padding: 3px;
  color: black;
  text-decoration: none;
}

#most {
  display: flex;
  flex-flow: column;
  border-top: 1px solid black;
  max-width: 300px;
  margin-left: 20px;
}

.most-popular {
  font-size: 15px;
  color: black;
  text-decoration: none;
  padding: 20px 30px 7px 0;
  margin-bottom: 15px;
  border-top: 1px solid black;
}

h4 {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sugg-heading {
  border-top: solid black 1px;
}
